# Byte-compiled / optimized / DLL files
__pycache__/
*.py[codz]
*$py.class

# Environments
.env
.envrc
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Packaging/Build
dist/
build/
*.egg-info/
.installed.cfg
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
# Celery tarafından oluşturulan dosyalar
celerybeat-schedule
celerybeat.pid